
<h3 id="title">List of order assigned to me and not Delivered</h3>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="idUser">
        <th mat-header-cell *matHeaderCellDef> Your id  </th>
        <td mat-cell *matCellDef="let element"> {{element.idDelivery}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Order </th>
        <td mat-cell *matCellDef="let element"> {{element.order}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="payed">
        <th mat-header-cell *matHeaderCellDef> Payed </th>
        <td mat-cell *matCellDef="let element"> {{element.payed}} </td>
      </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="prepared">
            <th mat-header-cell *matHeaderCellDef> Prepared </th>
            <td mat-cell *matCellDef="let element"> {{element.prepared}} </td>
          </ng-container>

            <!-- Symbol Column -->
         <ng-container matColumnDef="dateReqOrder">
            <th mat-header-cell *matHeaderCellDef> Date Request Order </th>
            <td mat-cell *matCellDef="let element"> {{element.dateReqOrder}} </td>
          </ng-container>
          <ng-container matColumnDef="delivered">
            <th mat-header-cell *matHeaderCellDef> Delivered </th>
            <td mat-cell *matCellDef="let element"> {{element.delivered}} </td>
          </ng-container>
              <!-- Symbol Column -->
         <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button  class="btn btn-sm text-uppercase"  style="background-color: rgb(37, 143, 175);bottom: 0;" (click) = "ready(element)">Ready To deliver</button>
               <button  class="btn btn-sm text-uppercase"  style="background-color: rgb(150, 175, 37);bottom: 0;" (click) = "map(element)">Map</button>
         </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <!--<ng-snotify class="material"></ng-snotify>-->
  </div>
  